.navbar {
   background-color: #FDD933; 
   height: 80px;
   display: flex;
   justify-content: start;
   align-items: center;
}

.menu-bars {
    margin-left: 2rem;
    font-size: 2rem;
    background-color: none;
}

.nav-menu {
    background-color: #FDD933;
    width: 250px;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: -100%;
    transition: 850ms;
}

.nav-menu.active {
    left: 0;
    transition: 350ms;
}

.nav-text {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 8px 0px 8px 16px;
    list-style: none;
    height: 60px;
}

.nav-text a {
    text-decoration: none;
    color: black;
    font: 18px;
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 16px;
    border-radius: 4px;
    font-weight: bold;
}

.nav-text a:hover {
    background-color: bisque;
}

.nav-menu-items {
    width: 100%;
}

.navbar-toggle {
    background-color: #FDD933;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: start;
    align-items: center;
}

span {
  margin-left: 16px;  
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    
}

.mealpickerlogo{
    max-width: 100%;
    display: block;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.row {
    display: flex;
  }
  
  .column {
    flex: 50%;
  }

@media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }


  .radio-group label {
    margin-right: 10px;
    margin-top: 0;
  }

  .radio-group input[type="radio"] {
    margin-right: 5px;
  }

  .buttonlist {
    font-weight: bold;
    margin-top: 10px;
  }

/*h1 {
    font-size: 30px;
    margin-left: 400px;
  }*/

/*.radio-group {
    margin-left: 400px;
    align-items: center;
}*/

.start {
    border: none;
    background-color: #FED846;
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
    display: block;
    
  }

  .title-container {
    display: flex;
  justify-content: space-between;
  /*align-items: center;*/
  max-width: 960px;
  margin: 0 auto;
  }
  
  .column {
    /*margin-bottom: 0px;*/
  }
  
  .title {
    margin: 0 40px 10px 0;
    font-size: 25px;
    font-weight: bold;
  }
  
  .subtitle {
    margin-top: 0px;
    margin-left: 90px;
    font-size: 25px;
    font-weight: bold;
  }

  @media (max-width: 767px) {
    .title-container {
      flex-wrap: wrap;
      justify-content: center;
    }
}

